<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean class="in.sp.beans.studentC" id="user1">
			
			
			<property name="name" value="anjali"></property>
			<property name="age" value="1223_as"></property>
			<property name="mail" value="anjali@abc.com"></property>
			<property name="phone" value="78554446"></property>
					
		</bean>

</beans>