<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!-- bean definitions here -->
        <bean>
   					<constructor-arg value="anjali"></constructor-arg>
					<constructor-arg value="anjali@abc.com"></constructor-arg>
					<constructor-arg value="prayagraj"></constructor-arg>     
        </bean>
</beans>